@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
    @variants responsive {
   
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

  
      .no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: none;  
      }
    }
  }

body {
  background-color: #121212;
  color: white;
  letter-spacing: 0.5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 18, 18, 0.24);
  pointer-events: none;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  z-index: 1000;
  border: 1px solid black;
}

.nav {
  background-color: #24272c;
  z-index: 1;
  max-height: 60px;
  min-height: 60px;
}

.loginContain {
  background-color: #191b1f;
  border-color: #191b1f; ;
}

.logButton {
  background-color: #24272c;
}


.sideNav {
  background-color: #191b1f;
 margin-top: 60px;
  width: 14%;
  z-index: 10;
}

.clip {
  padding-top: 60px;
}

.search{
  margin-left: 200px !important;
  
}

.pointer {
  cursor: pointer;
}

.vidInfo {
  background-color: #24272c;
  margin-top: -30px ;
}



.drawerClosed {
  width: 0;
  transition: width 0.5s ease-in-out;
}

.drawerOpen {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.commentContain {
  overflow-y: scroll;
  scrollbar-color: #c7cfcb #e0e0e0;
  scrollbar-width: thin;
  background-color: #191b1f;
  
}


.commentContain::-webkit-scrollbar, .chatSend::-webkit-scrollbar, .provider::-webkit-scrollbar {
  width: 5px;
  background-color: #c7cfcb;
  border-radius: 8px;
  height: 90%;
  /* margin-top:  80px; */
}

.commentContain::-webkit-scrollbar-track, .chatSend::-webkit-scrollbar-track, .provider::-webkit-scrollbar-track {
  background: #44403C;
  /* margin-top:  80px; */
 
}

.commentContain::-webkit-scrollbar-thumb, .chatSend::-webkit-scrollbar-thumb, .provider::-webkit-scrollbar-thumb {
  background-color: #928f8f;
  border-radius: 10px;
  margin-top:  80px;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
 animation: fadeInTop 1s forwards;
}

@keyframes fadeOutTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

.spinner {
  transition: all 0.3s linear;
}

.spinner:hover {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.fade-out-top {
 animation: fadeOutTop 1s forwards;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: black;
  border: #928f8f;
}

.drawer {
  background-color: #171717;
}

.followbutton {
  color: "#6c0736" !important;
}

.reply {
  background-color: #222221 ;
  max-height: 350px;
}

